<div
  class="flex flex-wrap items-center gap-3"
>
  <div class="flex flex-1 min-w-xl max-w-sm items-center gap-1">
    <p-iconfield class="flex-1">
      <p-inputicon>
        <svg data-p-icon="search"></svg>
      </p-inputicon>
      <input
        pInputText
        type="text"
        placeholder="Search a word…"
        class="w-full"
        [ngModel]="searchTerm()"
        (ngModelChange)="searchTerm.set($event)"
        (keyup.enter)="onSearch()"
      />
      @if (searchTerm()) {
        <p-inputicon (click)="onClearSearch()" class="cursor-pointer">
          <svg data-p-icon="times"></svg>
        </p-inputicon>
      } @else {
        <p-inputicon>
          <kbd class="text-xl font-medium leading-none!">↵</kbd>
        </p-inputicon>
      }
    </p-iconfield>
  </div>

  <div class="flex flex-col gap-1">
    <p-treeselect
      [options]="deckService.deckTree()"
      [ngModel]="deckService.selectedNode()"
      (ngModelChange)="deckService.selectNode($event)"
      [loading]="deckService.isLoading()"
      selectionMode="single"
      placeholder="Deck"
      class="w-64"
    />
    @if (deckService.error(); as deckError) {
      <span class="text-xs text-red-500">{{ deckError }}</span>
    }
  </div>

  <div class="flex flex-col gap-1">
    <p-select
      [options]="noteTypeService.noteTypes()"
      [ngModel]="noteTypeService.selectedNoteType()"
      (ngModelChange)="noteTypeService.selectNoteType($event)"
      [loading]="noteTypeService.isLoading()"
      placeholder="Note type"
      class="w-64"
    />
    @if (noteTypeService.error(); as noteTypeError) {
      <span class="text-xs text-red-500">{{ noteTypeError }}</span>
    }
  </div>
</div>
<div class="mt-5">Bottom</div>
